﻿@model _1xNet.Web.Models.Home.IndexViewModel

@{
    ViewData["Title"] = "1x|Network";
}
<h2 class="p-2">Новости</h2>
<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var newItem in Model.News)
    {
        <div class="col">
            <div class="card h-100">
                <img src="@newItem.ImageUrl" class="card-img-top object-fit-cover" style="max-height: 230px;" alt="@newItem.Title">
                <div class="card-body">
                    <h5 class="card-title">@newItem.Title</h5>
                    <p class="card-text">@newItem.Description</p>
                    <a href="@newItem.ReddyLink" class="stretched-link"></a>
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary">@newItem.CreatedAt.ToString()</small>
                </div>
            </div>
        </div>
    }
</div>


<h2 class="p-2">Популярные сообщества</h2>
<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var newItem in Model.PopularCommunities)
    {
        <div class="col">
            <div class="card h-100">
                <img src="@newItem.ImageUrl" class="card-img-top object-fit-cover" style="max-height: 230px;" alt="@newItem.Title">
                <div class="card-body">
                    <h5 class="card-title">@newItem.Title</h5>
                    <p class="card-text">@newItem.Description</p>
                    <a href="/Community/Index/@newItem.Id" class="stretched-link"></a>
                </div>
            </div>
        </div>
    }
</div>