@model _1xNet.Web.Models.Community.CommunityItemViewModel

@{
    ViewBag.Title = Model.Title;
    Layout = "_Layout";
}
<div class="row" xmlns="http://www.w3.org/1999/html">
    @if (Model.IsJoinedNow)
    {
        <div class="col-12 card border-success p-0 mb-3">
            <div class="card-header">Вы присоединились к сообществу!</div>
            <div class="card-body text-success">
                <p class="card-text"><a href="@Model.ReddyLink" target="_blank" class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Нажмите ссылку для присоединения в группу Reddy</a></p>
            </div>
        </div>
    }

</div>
<div class="row">
    
    <div class="col-md-4 h-100 bg-body-tertiary border rounded-3">
        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="@Model.ImageUrl" alt="" width="150">
            <h2 class="text-center">@Model.Title</h2>
            <p class="lead fw-light text-center">@Model.Description</p>
            <p class="lead">Число пользователей: @Model.MembersCount</p>
            <p class="lead">Категория: @Model.Category.Name</p>

            @if (!Model.IsJoinedNow)
            {
                <a href="/Community/Join/@Model.Id" type="button" class="btn btn-primary">Вступить в группу</a>
            }
            <p>
                @foreach (var tag in Model.Tags)
                {
                    <span class="badge bg-secondary">@tag.Name</span>
                }
            </p>
        </div>
        <div>
            <p>Подпишись на события в сообществе, чтобы быть в курсе. События будут отправленны вам в Reddy</p>
        </div>
    </div>

    <div class="col-md-8">
        <h2>События в сообществе</h2>
        <div class="card mb-2">
            <div class="card-body">
                <p class="card-text">Создавай события, чтобы собраться вместе с коллегами.</p>
                <button type="button" class="btn btn-primary pb-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Создать событие
                </button>
            </div>
        </div>
        
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Название события</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Название события</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Название события">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Описание события</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea2" class="form-label">Ссылка на сообщение в Reddy в группе</label>
                            <textarea class="form-control" id="exampleFormControlTextarea2" rows="1"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="exampleDataList" class="form-label">Выберите тег</label>
                            <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
                            <datalist id="datalistOptions">
                                @foreach(var newTag in Model.Tags)
                                {
                                    <option value="@newTag.Name" />
                                }
                            </datalist>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Я передумал</button>
                        <button type="button" class="btn btn-primary">Создать событие</button>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-md-3">
            @if (Model.Events != null)
            {
                @foreach (var e in Model.Events.Items)
                {
                    <div class="col">
                        <div class="card h-100">
                            @if (string.IsNullOrEmpty(e.ImageUrl))
                            {
                                <img src="https://tse4.mm.bing.net/th/id/OIG2.kaYdSo.fVpo7fF9y1Jdd?pid=ImgGn" class="card-img-top" alt="@e.Title">
                            }
                            else
                            {
                                <img src="https://tse2.mm.bing.net/th/id/OIG3.9KHuNIicKKFVOVwwZJqS?pid=ImgGn" class="card-img-top" alt="@e.Title">
                            }
                            <div class="card-body">
                                <h5 class="card-title">@e.Title</h5>
                                <p class="card-text">@e.Description</p>
                                <p><a href="@e.ReddyLink" class="btn btn-success"><i class="bi bi-person-check"></i> Пойду</a></p>
                                <p class="card-text">
                                    <small class="text-body-secondary">
                                        @foreach (var tag in e.Tags)
                                        {
                                            <span class="badge bg-secondary">@tag</span>
                                        }
                                    </small>
                                </p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><i class="bi bi-pin-map"></i> <a target="_blank" href="@e.Location.GoogleMapLink">@e.Location.Title</a></li>
                                <li class="list-group-item"><i class="bi bi-people"></i> Пойдут: @e.PlannedCountOfParticipants</li>
                                <li class="list-group-item"><i class="bi bi-coin"></i> Бюджет: @e.TokensForParticipants токенов</li>
                                @if (e.EndDate < DateTime.Now)
                                {
                                    <li class="list-group-item"><i class="bi bi-clock-history"></i> Завершился: @e.EndDate.ToShortDateString()</li>
                                }
                                else
                                {
                                    <li class="list-group-item"><i class="bi bi-clock-history"></i> @e.StartDate.ToShortDateString() - @e.EndDate.ToShortDateString()</li>
                                }
                                
                            </ul>
                        </div>
                    </div>
                }
            }
            else
            {
                <p>Пока нет событий в сообществе.</p>
            }
        </div>
    </div>

</div>

