@model _1xNet.Web.Models.Community.CommunityListViewModel

@{
    ViewBag.Title = "Сообщества";
    Layout = "_Layout";
}

<h2>Список сообществ</h2>

<div class="p-3">
    @foreach(var tag in Model.Tags)
    {
        <a href="../Community/List?tag=@tag.Name" type="button" class="btn btn-primary">
        @tag.Name
        </a>
    }
    <a href="../Community/List" type="button" class="btn btn-secondary">
        Все
    </a>

    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <i class="bi bi-file-plus"></i> Создать сообщество
    </button>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    @using (Html.BeginForm(Html.BeginForm("Add", "Community", FormMethod.Post)))
    {
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Создание нового сообщества</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="mb-3">
                        <label for="Title" class="form-label">Название события</label>
                        <input type="text" class="form-control" name="Title" id="Title" placeholder="Название события">
                    </div>
                    <div class="mb-3">
                        <label for="Description" class="form-label">Описание события</label>
                        <textarea class="form-control" id="Description" name="Description" rows="2"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="ReddyLink" class="form-label">Ссылка на сообщение в Reddy в группе</label>
                        <textarea class="form-control" id="ReddyLink" name="ReddyLink" rows="1"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="ImageUrl" class="form-label">Ссылка на лого</label>
                        <textarea class="form-control" id="ImageUrl" name="ImageUrl" rows="1"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="exampleDataList" class="form-label">Выберите тег</label>
                        <input class="form-control" list="datalistOptions" id="Tag" name="Tag" placeholder="Type to search...">
                        <datalist id="datalistOptions">
                            @foreach (var newTag in Model.Tags)
                            {
                                <option value="@newTag.Name"/>
                            }
                        </datalist>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Я передумал</button>
                    <button type="submit" class="btn btn-primary">Создать сообщество</button>
                </div>
            </div>
        </div>
    }
</div>


<div>
</div>


<div class="row row-cols-1 row-cols-md-4 g-4">
    
@foreach(var community in Model.Items)
{
    <div class="col">
        <div class="card h-100" style="width: 18rem;">
            <img src="@community.ImageUrl" class="card-img-top rounded img-thumbnail" alt="@community.Title">
            <div class="card-body">
                <h5 class="card-title">@community.Title</h5>
                <p class="card-text fw-light">@community.Description</p>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        События в сообществе
                        @if (community.Events is {Items.Count: > 0})
                        {
                        <span class="badge text-bg-primary rounded-pill">@community.Events.Items.Count</span>
                        }
                        else
                        {
                        <span class="badge text-bg-primary rounded-pill">0</span>
                        }
                    </li>
                </ul>
                
                <a href="../Community/Join/@community.Id" class="btn btn-success mb-2 mt-2">Вступить в Сообщество</a>
                <a href="../Community/Index/@community.Id" class="stretched-link"></a>

                <p class="card-text"><small class="text-body-secondary">
                        @foreach(var tag in community.Tags)
                        {
                        <span class="badge bg-secondary">@tag.Name</span>
                        }
                    </small>
                </p>
            </div>
       
            <div class="card-footer text-body-secondary">
               Создано 2 дня назад
            </div>
        </div>
        
    </div>
    
}
</div>

